* {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* .
.node>* {
    display: inline-block;
} */
.cont {
    max-width: 1400px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: 50px;
    font-weight: bolder;
}

.node {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.weight {
    color: white;
    padding: 1pt;
    background: grey;
    border: 1px solid black;
}

.box {
    width: calc(100% / 6 - 10px);
    font-size: smaller;
    line-height: 20px;
    padding: 8pt;
    margin: 2pt;
}

.border {
    border: 1px solid silver;
}

.healthy {
    background-color: #eeffee
}

.down {
    background-color: #ffeeee
}

.edgeName {
    font-weight: bold;
}

.slow {
    color: #A33;
}

.fast {
    color: #3A3;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.header div {
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.time {
    padding: 8pt;
    margin: 2pt;
    display: inline-block;

}

.info {
    padding: 5pt;
}

.mngr {
    border: silver 1px solid;
    padding: 1pt;
    text-align: center;
    color: white;
}

.mngr.pass {
    margin-top: 1pt;
    background-color: #3B3;
    /* position: absolute;
    bottom: 0; */
}

.mngr.error {
    background-color: gray;
}

.mngr.fail {
    background-color: #d55;
}