body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    margin: 50px;
    font-weight: bolder;
    font-size: larger;
}

.node {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    width: 220px;
    font-size: smaller;
    line-height: 20px;
    padding: 8pt;
    margin: 2pt;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.border {
    border: 1px solid silver;
}

.healthy {
    background-color: #eeffee
}

.down {
    background-color: #ffeeee
}

.edgeName {
    font-weight: bold;
}

.slow {
    color: #A33;
}

.fast {
    color: #3A3;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}


.header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}

.time {
    padding: 8pt;
    margin: 2pt;
    display: inline-block;

}

.stats {
    text-align: center;
    font-size: smaller;
}

.info {
    padding: 5pt;
}

.mngr {
    border: silver 1px solid;
    padding: 1pt;
    text-align: center;
    color: white;
    margin-top: auto;
    width: 100%;
}

.mngr.pass {
    background-color: rgb(131, 163, 131);
}

.mngr.error {
    background-color: gray;
}

.mngr.fail {
    background-color: #d55;
}

.alert {
    display: flex;
    flex-direction: column;
    border: gray 1px solid;
    padding: 10pt;
}

.alert div {
    margin: 10pt;
}