html
    head     
        link(href='api.css', rel='stylesheet')   
        title TON-ACCESS API
     body
        .container
            h1 ORBS TON-Access API
            h3 TON-Access API domain is up
            div
                a(class="link", href="/" target="_blank") status page
            div
                a(class="link", href="https://github.com/orbs-network/ton-access" target="_blank") github
            div
                a(class="link", href="https://www.orbs.com/ton-access/#get-started" target="_blank") get started
            div
                a(class="link", href="https://www.orbs.com/Orbs-Announces-the-TON-Access-Public-Launch/" target="_blank") announcement

        
            
